* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gameboard {
  display: grid;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 330px;
  width: 330px;
  margin: 0 auto;
  gap: 1rem;
}

.gameboard-tile {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 1rem;
}

.playgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  font-size: 1.4rem;
} 

.playgame button {
  font-size: 1.5rem;
  padding: 6px;
}

.winner-message {
  font-size: 2rem;
}

@media screen and (min-width: 900px) {
  .gameboard {
    width: 500px;
    height: 500px;
  }
}
