* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: sans-serif;
  background: lightblue;
}

.gameboard {
  display: grid;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 330px;
  width: 330px;
  margin: 0 auto;
  gap: 1rem;
}

.gameboard-tile {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 1rem;
  font-family: 'Permanent Marker', cursive;
  background: lightgray;
}

.playgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  font-size: 1.4rem;
} 

.playgame button {
  font-size: 1.5rem;
  padding: 6px;
}

.modal-background {
  font-size: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal{
  width: 90vw;
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 1rem;
  border-radius: 10px;

}

.modal-active {
  display: flex;
}

.play-again-btn {
margin: 0 auto;
padding: 5px;
font-size: 1.4rem;
background-color: yellow;
border: none;
color: black;
border: 2px solid black;
border-radius: 10px;
}

@media screen and (min-width: 900px) {
  .gameboard {
    width: 500px;
    height: 500px;
  }

  .modal {
    width: 500px;
  }
}
